body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    background-color: whitesmoke;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-main {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, 0.85);
}

.header-main {
    background-color: white;
    font-size: 22px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.85);
    position: fixed;
    min-height: 75px;
    z-index: 1;
    width: 100%;
    margin: 0;
    top: 0;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

.header-buttons img:hover {
    background-color: rgb(207, 207, 207);

}

.sidebar-menu {
    background-color: #049789;
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    padding: 20px 0;
}

.sidebar {
    display: none;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    width: 250px;
    padding: 10px;
    margin: 0 0 10px;
}

.menu-item:hover {
    background-color: #058679;
}

.main-content {
    margin: 0;
    margin: 75px auto 60px;
    padding-top: 20px;
    max-width: 900px;
    text-align: center;
}

.content-header {
    padding: 10px;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
}

.vacancy-description {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
}

.gallery img {
    padding-top: 10px;
}

.statistics img {
    margin: 10px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #bdbdbd;
    border-collapse: collapse;
}

.table th {
    padding: 5px;
    background: #efefef;
    border: 1px solid #bdbdbd;
}

.table td {
    border: 1px solid #bdbdbd;
    padding: 5px;
}

.table-wrapper {
    margin: 0;
    max-width: 400px;
}

.tables {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.table-wrapper p {
    margin: 5px;
    font-weight: 700;
}

.table.geography-table {
    margin: 0;
}

.tables .table {
    margin-bottom: 15px;
}

.skills-tables {
    margin-left: -15vw;
    margin-right: -15vw;
}

.skills-tables p{
    margin: 15px 0 0;
    font-weight: 700;
}

.skills-table{
    overflow-x:scroll
}

.vacancy-card {
    margin: 0;
    padding: 0;
    width: 165px;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacancy-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vacancies {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.vacancy-name {
    font-weight: 700;
    height: 70px;
    text-align: center;
}

.company-name {
    height: 45px;
}
