{% extends 'sample.html' %}
{% block content %}
<div class="relevance">
    <p class="content-header">Статистика расположенности вакансии</p>
    <div class="statistics">
        <img src={{image}} width="750">
        <div class="tables">
            {% for i in range(tables_len) %}
            <div class="table-wrapper">
                <p>{{ tables_names[i] }}</p>
                <table class="table geography-table">
                    <thead>
                    <tr>
                        {% for cell in tables[i][0] %}
                        <th>{{ cell }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    {% for row in tables[i][1:-1] %}
                    <tr>
                        {% for cell in row %}
                        <td class="table_cell">{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}