{% extends 'sample.html' %}
{% block content %}
<p class="vacancy-name">DevOps-инженер</p>
<p class="vacancy-description">Инженер DevOps — это ИТ-специалист общего профиля, которому нужны обширные знания в
    области разработки и эксплуатации, включая написание кода, управление инфраструктурой, системное администрирование и
    работу с пакетами инструментов DevOps. Инженеры DevOps также должны обладать навыками межличностного общения,
    поскольку им приходится преодолевать разобщение в компании и создавать более благоприятную среду для совместной
    работы.
    <br><br>
    Инженерам DevOps нужно хорошо разбираться в архитектуре общих систем, выделении ресурсов и администрировании, а
    также иметь опыт работы с традиционными наборами инструментов для разработчиков и такими методами, как использование
    системы управления версиями, проведение и получение проверок кода, написание модульных тестов и знание принципов
    Agile.
</p>
<p class="vacancy-name">Роли и обязанности</p>
<p class="vacancy-description">Роль инженера DevOps зависит от конкретной организации, однако всегда подразумевает
    сочетание
    разработки релизов, выделения инфраструктуры и управления ею, системного администрирования, обеспечения безопасности
    и продвижения DevOps.
    <br><br>
    Разработка релизов включает задачи, необходимые для создания и развертывания кода приложения. Конкретные инструменты
    и процессы сильно зависят от множества переменных, таких как язык программирования, степень автоматизации конвейера
    и тип рабочей инфраструктуры (локальная или облачная). Разработка релизов может потребовать выбора, выделения и
    обслуживания инструментов CI/CD или создания и поддержки индивидуальных сценариев сборки/развертывания.
    <br><br>
    Выделение инфраструктуры и системное администрирование включают развертывание и обслуживание серверов, хранилищ и
    сетевых ресурсов, необходимых для размещения приложений. Для организаций с локальными ресурсами может потребоваться
    управление физическими серверами, устройствами хранения данных, коммутаторами и ПО виртуализации в центре обработки
    данных. Для гибридных или полностью облачных организаций обычно нужно выделять виртуальные экземпляры одних и тех же
    компонентов и управлять ими.
    <br><br>
    Продвижение DevOps представляет собой, пожалуй, самую важную задачу инженера DevOps, однако ее часто недооценивают
    или вовсе упускают из виду. Переход к культуре DevOps может сбить с толку участников команды разработчиков и
    подорвать их работу. Как эксперт в области DevOps, инженер DevOps должен продвигать методы этого подхода и обучать
    им всех сотрудников организации.
</p>
<div class="gallery">
    <img src="../static/img/devops.png" width="800">
    <img src="../static/img/ci-cd.png" width="400">
    <img src="../static/img/docker.png" width="400">
</div>
{% endblock %}