{% extends 'sample.html' %}
{% block content %}
<div class="relevance">
    <p class="content-header">Статистика востребованности вакансии</p>
    <div class="statistics">
        <img src="../static/img/relevance_default.png" width="750">
        <table class="table">
            <thead>
                <tr>
                    {% for cell in table_data[0] %}

                    <th>{{ cell }}</th>

                    {% endfor %}
                </tr>
            </thead>


            {% for row in table_data[1:-1] %}
            <tr>
                {% for cell in row %}
                <td class="table_cell">
                    {{ cell }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}